@font-face {
    font-family: 'Lucida Handwriting';
    src: url('LucidaHandwriting-Italic.woff2') format('woff2'),
        url('LucidaHandwriting-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lucida Handwriting';
    src: url('LucidaHandwriting-Italic.woff2') format('woff2'),
        url('LucidaHandwriting-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'QK Marisa';
    src: url('QKMarisa.woff2') format('woff2'),
        url('QKMarisa.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

